# Altium Designer .gitignore

History/
__Previews/
Project Logs/
Project Outputs/

# Lock files
# If you upload this file -> "File is locked by [User]"
.~*
*.htm
*.html

# Auto Backup Files
*.SchDoc.Zip
*.PcbDoc.Zip
*.LibPkg.Zip
*.PrjPcb.Zip

# Local Structure files
*.PrjPcbStructure
*.DsnWrk
*.DsnWrk.Zip

# Trash log
*.LOG
*.log